
<nav class="navbar navbar-inverse bg-info text-light" *ngIf ="adminPanelFlag"> 
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="text-light h5" href="#">Panel</a>
        </div>

        <ul class="nav  navbar-right">
            <li><a href="#"></a></li>
            <li>
                <a href="#">
                    <img class="smallFlag mr-2"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/2000px-Flag_of_Albania.svg.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="smallFlag mr-2"
                    src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png">
                </a>
            </li>
            <li class="mr-2 h5" >
                <a routerLink="/back/login" class="text-white"> Login</a>
            </li>
            <li class="h5">
                <a routerLink="/back/register" class="text-white"> Register</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <nav class="navbar navbar-inverse bg-info text-light" *ngIf ="!adminPanelFlag">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="fa fa-fw fa-bars mr-2" (click)="toogleSideBar()"></span>
                <a class="text-light h5" routerLink="/back/home">Admin panel</a>
            </div>
    
            <ul class="nav  navbar-right">
                <li><a href="#"></a></li>
                <li>
                    <a href="#">
                        <img class="smallFlag mr-2"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/2000px-Flag_of_Albania.svg.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="smallFlag mr-2"
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png">
                    </a>
                </li>
                <li class="mr-2 h5">
                    <a routerLink="/back/login" class="text-white" (click)="logOut()"> Logout</a>
                </li>
    
            </ul>
    
        </div>
    
    </nav>
    <app-side-bar *ngIf ="!adminPanelFlag && !routeFlag"></app-side-bar>

</div>


