<app-header></app-header>
<app-carousel></app-carousel>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 aos-init aos-animate">
            <img src="http://safir-school.com/wp-content/uploads/2016/01/aboutus.jpg" class="img-fluid">
        </div>
        <div class="col-md-5 ml-auto aos-init aos-animate">
            <div class="site-section-title">
                <h2>{{body.title}}</h2>
            </div>
            <p class="lead">
                {{body.body}}
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>