<app-login-header ></app-login-header>
<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header">
                        Dashboard
                    </div>
                    <div class="card-body">
                        <p>
                            You are logged in!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>