<app-login-header ></app-login-header>
<main class="py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="card">
          <div class="card-header">
            Articles
          </div>
          <div class="container">
            <div class="card-body">
              <button class="btn btn-primary mt-2 mb-2 float-right" routerLink='/back/create-article'>Create</button>
              <br><br><br>
              <div class="float-left">
                <label>Show:</label>
                <select>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <label>entries</label>
              </div>
              <div class="float-right text-right">
                <label>Search:</label>
                <input type="search" (keydown)="filterARticles()" [(ngModel)]="searchTerm">
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    <th scope="col">Type</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="tableData">
                  <tr *ngFor="let td of tableData">
                    <th>{{td.id}}</th>
                    <td>{{td.title}}</td>
                    <td>{{td.city}}</td>
                    <td>{{td.address}}</td>
                    <td>{{td.type}}</td>
                    <td>{{td.phonenumber}}</td>
                    <td>
                      <i (click)="viewDetails(td.id)" class="fa fa-eye text-success mr-1"></i>
                      <i (click)="editArticle(td.id)" class="fa fa-pencil text-primary mr-1"></i>
                      <i (click)="deleteArticle(td.id)" class="fa fa-trash text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>