<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-sidebar w3-bar-block text-white bg-dark animation-in" id="mySidebar">
    <div class="user-panel">
        <span class="image">
            <img src="http://via.placeholder.com/160x160" class="rounded-circle w-25" alt="User Image">
        </span>
        <div class="float-right" id="adminPanel">
            <p>admin</p>
            <p>{{userDataEmail}}</p>
        </div>
    </div>
    <a title="Dashboard" class="w3-bar-item w3-button" routerLink="/back/home">
        <i class="fa fa-th-large"></i>
        <span class="link-out">Dashboard</span>
    </a>
    <a title="Webpage"  class="w3-bar-item w3-button" routerLink="/">
        <i class="fa fa-eye mr-1"></i>
        <span>Webpage</span>
    </a>
    <a title="Articles" class="w3-bar-item w3-button" routerLink="/back/articles">
        <i class="fa fa-table mr-1"></i>
        <span>Articles</span>
    </a>
    <a title="Contact"  class="w3-bar-item w3-button" routerLink="/back/contact-us">
        <i class="fa fa-envelope mr-1"></i>
        <span>Contact</span>
    </a>
    <a title="About content" routerLink="/back/about-us" class="w3-bar-item w3-button">
        <i class="fa fa-info mr-1"></i>
        <span>About content</span>
    </a>
</div>