<app-login-header></app-login-header>
<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="card" *ngIf="contactData"> 
                    <div class="card-header">
                        Contact from {{contactData.name}}
                    </div>
                    <div class="container">
                        <div class="card-body">
                            {{contactData.message}}
                        </div>
                    </div>
                    <div class="card-footer">
                        {{contactData.updated_at}}
                    </div>
                </div>
             
            </div>
        </div>
        <a class="btn btn-secondary mt-2" routerLink="/back/contact-us"><i class="fa fa-arrow-left"></i>Back</a>
    </div>
</main> 