<app-login-header *ngIf="isLogin"></app-login-header>
<nav class="navbar navbar-expand-lg navbar-light dark" *ngIf="!isLogin">
    <div class="container text-muted font-weight-bold">
        <div class="collapse navbar-collapse ">
            <i class="fa fa-phone" aria-hidden="true"></i>
            0729.654.780
            <i class="fa fa-envelope ml-2 " aria-hidden="true"></i>
            contact@realestate.com
        </div>

        <!-- <button class="navbar-toggler bg-white" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class=" navbar-collapse " id="navbarSupportedContent">

            <ul class="navbar-nav col-12 list-group-horizontal">
                <li class="mr-1">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    FAVORITES
                </li>
                <li>
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <a routerLink="/back/login" class="text-muted">LOGIN / REGISTER</a>
                </li>
                <li>
                    <i class="fa fa-facebook-square"></i>
                </li>
                <li>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </li>
                <li>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>