<app-login-header></app-login-header>
<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <form>
                            <p class="text-center text-danger">{{error}}</p>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right" >E-Mail Address</label>
                                <div class="col-md-6">
                                    <input  class="form-control" [(ngModel)]="email" type="email" name="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="password" [(ngModel)]="password" name="password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <input class="btn btn-primary" (click)="login()" type="button" value="Login">
                                    <a class="btn btn-link" routerLink="/back/reset-password">
                                        Forgot your password?
                                    </a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>