<app-login-header></app-login-header>
<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header">
                        Register
                    </div>
                    <div class="card-body">
                        <div>{{err}}</div>
                        <form [formGroup]="newUser" (ngSubmit)="onSubmit(newUser)"> 
                            <div class="row form-group">
                                <label class="col-md-4 col-form-label text-md-right">Name:</label>
                                <input class="col-md-6 form-control" formControlName="name">
                                <div class="customError w-50 alert alert-danger"
                                    *ngIf="newUser.hasError('required','name') &&  newUser.controls['name']?.touched">
                                     Must enter name. 
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-4 col-form-label text-md-right">E-Mail Address:</label>
                                <input class="col-md-6 form-control" formControlName="email">
                                <div class="customError w-50 alert alert-danger"
                                *ngIf="newUser.hasError('email','email') &&  newUser.controls['email']?.touched">
                                    Must enter valid email.
                                </div>
                                <div class="customError w-50 alert alert-danger"
                                *ngIf="newUser.hasError('required','email') &&  newUser.controls['email']?.touched">
                                    Must enter email.
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-4 col-form-label text-md-right">Password:</label>
                                <input class="col-md-6 form-control" type="password" formControlName="password">
                                <div class="customError w-50 alert alert-danger"
                                *ngIf="newUser.hasError('required','password') &&  newUser.controls['password']?.touched">
                                    Must enter password.
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-md-4 col-form-label text-md-right">Confirm Password:</label>
                                <input class="col-md-6 form-control" type="password" formControlName="password_confirmation">
                                <div class="customError w-50 alert alert-danger"
                                *ngIf="newUser.hasError('required','password_confirmation') &&  newUser.controls['password_confirmation']?.touched">
                                    Must confirm password.
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button class="btn btn-primary" type="submit">Register</button>
                                </div>
                            </div>
                        </form>
                         
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>