<app-header></app-header>
<app-carousel></app-carousel>
<div class="container shadow">
    <div class="row m-3">
        <div class="col-lg-4 mb-4 mb-md-0">
            <p class="text-center">Offer type</p>
            <select class="form-control" id="sel1" [(ngModel)]="searchQuery.offer_types">
                <option value="">All</option>
                <option value="sale">For sale</option>
                <option value="rent">For rent</option>
            </select>
        </div>
        <div class="col-lg-4 mb-4 mb-md-0">
            <p class="text-center">City</p>
            <select class="form-control" id="sel1" [(ngModel)]="searchQuery.city">
                <option value="">All</option>
                <option value="gjakove">Gjakove</option>
                <option value="prishtine">Prishtine</option>
                <option value="mitrovice">Mitrovice</option>
                <option value="peje">Peje</option>
                <option value="prizren">Prizren</option>
                <option value="glijab">Glijan</option>
                <option value="ferizaj">Ferizaj</option>
            </select>
        </div>
        <div class="col-lg-4 mb-4 mb-md-0">
            <p class="text-center">Type</p>
            <select class="form-control" id="sel1" [(ngModel)]="searchQuery.type">
                <option value="">All</option>
                <option value="1+1">1+1</option>
                <option value="2+1">2+1</option>
                <option value="3+1">3+1</option>
                <option value="3+2">3+2</option>
                <option value="4+1">4+1</option>
                <option value="4+2">4+2</option>
                <option value="5+1">5+1</option>
                <option value="5+2">5+2</option>
            </select>
        </div>

    </div>
    <div class="row m-3">
        <div class="col-lg-4 mb-4 mb-md-0">
            Prince from: <b>{{searchQuery.price_from}}
            </b>
            <mat-slider class="bg-white w-100" min="1" max="2000" step="1" [(ngModel)]="searchQuery.price_from">
            </mat-slider>
        </div>
        <div class="col-lg-4 mb-4 mb-md-0">
            Price to: <b>{{searchQuery.price_to}}</b>
            <mat-slider class="bg-white w-100" min="1" max="2000" step="1" [(ngModel)]="searchQuery.price_to">
            </mat-slider>
        </div>
        <div class="col-lg-4 mb-4 mb-md-0 mt-4">
            <button type="button" class="btn btn-success w-100 " (click)="makeSearchQuery()">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="view-options bg-white py-3 px-3 d-md-flex align-items-center">
                <div class="mr-auto ml-3">
                    <a class="icon-view view-module mr-4" (click)="toogleShowFlags()">
                        <i class="material-icons text-dark">view_module</i>
                    </a>
                    <a class="icon-view view-module" (click)="toogleShowFlags()">
                        <i class="material-icons text-dark">view_list</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center mt-5">
    <h2 class="text-success splitWords">We are Offering the Best Real Estate Deals</h2>
    <p class="text-muted m-5">Look at our listed properties and check out the ficilites on them, We have already sold
        more then 5,000 Homes and
        we are still going at very goof pace. We would love to look into therse properties and we hope that you will
        find something matc-able to your needs.</p>
</div>
<div class="site-section site-section-sm bg-white p-5" *ngIf="searchData.length == 0 && tempFlag">
    <div class="container">
        <p class="alert alert-warning">No apartments</p>
    </div>
</div>
<div class="container mt-4 text-center mb-5">
    <div class="row mt-5" *ngIf="cardFlag">
        <div *ngFor="let article of articles" class="col-lg-4" (click)="showDetailArticle(article.id)">
            <mat-card class="example-card bg-white text-muted">
                <img *ngIf="article.photo[0]"
                    src="http://realestate-task.draft2017.com/storage//photos/{{article.photo[0].photo}}"
                    class="w-100 zoom">
                <img *ngIf="!article.photo[0]" src="../../assets/hero_how_it_works_meal_plans.jpg" class="w-100 zoom">
                <h3 class="text-left">{{article.title}} </h3>
                <!-- <span *ngIf="article.for == 'rent' || article.for == 'both'" class="offer-type bg-success">Rent</span>
                <span *ngIf="article.for == 'sale' || article.for == 'both'" class="offer-type bg-danger">Sale</span> -->
                <div class="text-left">
                    {{article.body}}
                </div>
                <mat-card-content>
                    <!-- <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{article.address}}
                    </p> -->
                    <!-- <span class="property-specs">Type</span>
                    <br />
                    <span class="property-specs-number">{{article.type}}</span> -->
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn border border-success text-success  w-100">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                FAVORITE</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary w-100">&euro; {{article.price}}</button>
                        </div>
                    </div>

                </mat-card-content>

            </mat-card>
        </div>
    </div>
    <div class="row mt-5" *ngIf="rowFlag">
        <div *ngFor="let article of articles" class="col-md-12 p-4" style="background-color: whitesmoke;"
            (click)="showDetailArticle(article.id)">
            <mat-card class="example-card bg-white text-muted">
                <img *ngIf="article.photo[0]"
                    src="http://realestate-task.draft2017.com/storage//photos/{{article.photo[0].photo}}"
                    class="w-25 zoom">
                <img *ngIf="!article.photo[0]" src="../../assets/hero_how_it_works_meal_plans.jpg" class="w-25 zoom">
                <h3>{{article.title}} </h3>
                <span *ngIf="article.for == 'rent' || article.for == 'both'" class="offer-type bg-success">Rent</span>
                <span *ngIf="article.for == 'sale' || article.for == 'both'" class="offer-type bg-danger">Sale</span>
                <mat-card-content>
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{article.address}}
                    </p>
                    <span class="property-specs">Type</span>
                    <br />
                    <span class="property-specs-number">{{article.type}}</span>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>
<div class="row" *ngIf="numbers.length > 1">
    <div class="col-md-12 text-center">
        <div class="site-pagination">
            <a *ngFor="let temp of numbers" (click)="takeArticles(temp)"
                [ngClass]="{'active': searchQuery.page === temp}">{{temp}}</a>
        </div>
    </div>
</div>
<app-footer></app-footer>