.w-10{
    width: 10%;
}
li{
    padding: 5px;
}
li:hover{
    cursor: pointer;
}
nav{
    background-image: linear-gradient(#0b0024, #0b0024);
}
li{
    padding: 8px;
    margin: 8px;
}
.carousel-content {
    position: absolute;
    bottom: 20%;
    left: 15%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-item{
    background-image: linear-gradient(#0b0024, #1a4b1e);
}
.opac-0{
      opacity: 0;
}
.shadow{
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 10px;
    background: whitesmoke;
    z-index: 1000;
    /* margin-top: -3rem; */
}
.splitWords{
    word-spacing: 1rem;
}
legend{
    margin: 0px auto;;
}
fieldset{
    border: 20px solid lightgray;
}
.carousel-inner{
    z-index: auto;
}
.bg-black{
    background: black;
}
.addContent {
    position: relative;
    list-style: none;
}  
.addContent > li::before {
   content: '▶';
   position: absolute;
   left: 2rem;
   color: lightgray;
 }
.w-30{
    width: 24%;
}
.w-5{
    width: 5%;
}
.f-size{
    font-size: 1.5rem;
}
.opaci-0{
    opacity: 0;
}
.smallFlag{
    max-height: 24px;
    max-width: 24px;
    width: 20px;
    height: 16px;
}
@media (min-width: 576px) { 
    .opaci-0 {
        opacity: 1;
    }
    .carousel-inner{
        z-index: -1;
    }
}
.zoom {
    transition: transform .2s; 
    margin: 0 auto;
    transition: 0.5s ease-in-out;
  }
  
.zoom:hover {
   transform: scale(1.09); 
   cursor: pointer;
}
.material-icons:hover{
    cursor: pointer;
}
.site-pagination a{
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    color: #333333;
    border: 1px solid #e6e6e6;
}
.site-pagination:hover{
    cursor: pointer;
}
.active{
    border: 1px solid transparent;
    background: #7cbd1e;
    color: #fff;
}
.offer-type {
    padding: 1px 7px;
    color: #fff;
    letter-spacing: .2em;
    font-size: 15px;
    border-radius: 4px;
}



