<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <h3 class="text-primary font-weight-bold">ABOUT US</h3>
            <p class="text-secondary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s
            </p>
            <p class="text-secondary">into electronic typesetting, remaining essentially unchanged. It was popularised
                in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            </p>
        </div>
        <div class="col-lg-2 col-sm-12">
            <h3 class="text-primary font-weight-bold">PROPERTY TYPES</h3>
            <ul class="text-secondary">
                <li>Villa</li>
                <li>Residential</li>
                <li>Aparment</li>
                <li>Condominium</li>
                <li>Shop</li>
                <li>Office</li>
            </ul>
        </div>
        <div class="col-lg-2 col-sm-12">
            <h3 class="text-primary font-weight-bold">LOCATIONS</h3>
            <ul class="text-secondary">
                <li>Bucharest</li>
                <li>Constanta</li>
                <li>Brasov</li>
                <li>Cluj-Napoca</li>
                <li>Craiova</li>
            </ul>
        </div>
        <div class="col-lg-5 col-sm-12">
            <h3 class="text-primary font-weight-bold">FROM THE BLOG</h3>
            <div class="row">
                <div class="col-4">
                    <img src="../../../../assets/black.jpg" class="w-100">
                </div>
                <div class="col-8">
                    in the 1960s with the release of Letraset sheets containing
                    <br/><br/>
                    <span class="bg-success p-1 text-white">INTERIOUR DESIGN</span>
                    <span class="text-muted">MARCH 18,2016</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <img src="../../../../assets/black.jpg" class="w-100">
                </div>
                <div class="col-8">
                    in the 1960s with the release of Letraset sheets containing
                    <br/><br/>
                    <span class="bg-success p-1 text-white">INTERIOUR DESIGN</span>
                    <span class="text-muted"> MARCH 18,2016</span>
                </div>
            </div>
        </div>
    </div>
    <img src="../../assets/shape.png">
    <span class="mr-5 f-size">realEstate</span>
    <span class="text-muted ml-5">Copyright @ 2016 RealEstate, Inc. All right reserved</span>
</div>
<div>
    <img src="../../assets/background-glass-3.png">
</div>