<app-login-header></app-login-header>
<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-header">
                        About
                    </div>
                    <div class="card-body">
                        <label class="font-weight-bold">Title:</label>
                        <input class="form-control" [value]="title" [(ngModel)]="body.title">
                        <label class="font-weight-bold mt-3">Body:</label>
                        <textarea class="form-control" rows="6" [value]="body" [(ngModel)]="body.body"></textarea>
                        <button class="btn btn-primary  py-2 px-4 rounded-0 mt-3" (click)="updateAboutUs()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>