.property-specs-wrap{
    list-style: none;
}
ul > li {
    float: left;
    margin:8px;
}
.d-block{
    display: block;
}
.widget {
    padding: 40px;
    margin-bottom: 30px;
}
.property-body{
    padding: 40px;
}
.bg-success {
    background-color: #7cbd1e !important;
}
.font-style{
    font-size: 35px;
}
.zoom {
    transition: transform .2s; 
    margin: 0 auto;
    transition: 0.5s ease-in-out;
  }
  
  .zoom:hover {
    transform: scale(1.09); 
    cursor: pointer;
  }
  .offer-type {
    padding: 1px 7px;
    color: #fff;
    letter-spacing: .2em;
    font-size: 15px;
    border-radius: 4px;
}