<nav class="navbar navbar-expand-lg bg-light mb">
    <div class="container text-white font-weight-bold">
        <div class="row col-6">
            <img src="../../assets/shape.png" class="img-responsive" routerLink='/'>
            <h2 class="mt-3">realEstate</h2>
        </div>
        <div class="navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-sm-12 col-lg-6 list-group-horizontal">
                <li>
                    <i routerLink='/' class="fa fa-home" aria-hidden="true"></i>
                </li>
                <li class="mr-1" routerLink='/front'>
                    Home
                </li>
                <li routerLink='/front/about'>
                    About
                </li>
                <li routerLink='/front/contact'>
                    Contact
                </li>
                <li>
                    <a href="#">
                        <img class="smallFlag"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/2000px-Flag_of_Albania.svg.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="smallFlag"
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- style="position: relative; z-index: -1;" -->
<div data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="w-100 " src="{{pictureUrl}}" [ngClass]="{'opac-0': opacityFlag}">
            <div class="carousel-content" *ngIf="id">
                <div class="col-md-12">
                    <div class="">

                        <div *ngIf="id" class="font-weight-bold h2 text-success font-weight-bold">{{articleData.views}}
                            Views </div>
                        <h1 *ngIf="id" class="mb-2 text-uppercase" style="font-size:50px;">
                            {{articleData.city}}
                        </h1>
                        <div *ngIf="id" class="font-weight-bold h2 text-success font-weight-bold">{{articleData.price}}$
                        </div>
                    </div>
                    <div class="">
                    </div>
                </div>
              

            </div>
            <div class="col-md-12">
                <div *ngIf="!id" class="carousel-content-home">
                    <div *ngIf="randomArticle" class="row">
                        <div class="col-md-6">
                            <h1>{{randomArticle.title}}</h1>
                            <h4>{{randomArticle.body}}</h4>
                            <button type="button" class="btn btn-success p-3"
                                (click)="showDetailArticle(randomArticle.id)">VIEW DETAILS</button>
                        </div>
                        <div class="col-md-5">
                            <img class="rounded-circle w-100"
                            src="{{randomArticlePictureUrl}}">
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>