.carousel-content {
    position: absolute;
    bottom: 50%;
    left: 30%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carousel-item{
    background-image: linear-gradient(#0b0024, #1a4b1e);

}
.opac-0{
    opacity: 0;
}
.smallFlag{
    max-height: 24px;
    max-width: 24px;
    width: 20px;
    height: 16px;
}
nav{
    background-image: linear-gradient(#0b0024, #0b0024);
}
li{
    padding: 15px;
}
li:hover{
    cursor: pointer;
}
.mb{
    border-bottom: 1px solid lightblue;
}
.carousel-content-home {
    position: absolute;
    bottom: 10rem;
    left: 30%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
@media (max-width: 576px) { 
   .carousel-inner {
       display: none;
   } 
}
